<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <title>Machine Design</title>
  <link rel="stylesheet" href="css/globalStyles.css">
</head>
<body>
  <div class="site">
    <div class="logo">  
	<h1 class="globalProtoHeader">Machine Design</h1>	
    <h2 class="globalProtoHeader">Machine Element Prototypes</h2> 	  
    </div>
    <div id="allProtos"></div>
    <div id="copy"></div>
  </div> 
    <script id="protoElement" type="text/template">
      <a href="#<%= link %>"><img src="<%= img %>" alt="<%= name %>" class="image" width="200" height="200" /></a>
      <ul>
        <li class="protoInfo"><strong>Name:</strong> <%= name %></li>
        <li class="protoInfo"><strong>Stress:</strong> <%= price %> ksi</li>
        <li class="protoInfo"><strong>Material:</strong> <%= color %></li>
      </ul>
    </script>

` <script src="js/libs/jquery.js"></script>
  <script src="js/libs/underscore.js"></script>
  <script src="js/libs/backbone.js"></script>
  <script src="js/models/singleProtoModel.js"></script>
  <script src="js/views/singleProtoView.js"></script>
  <script src="js/views/allProtosView.js"></script>
  <script src="js/collections/allProtos.js"></script>
  <script src="js/routes/router.js"></script>
  <script src="js/protoApp.js"></script>

</body>
</html>